<li>
  <%= link_to user_path(message.user) do %>
    <img src="https://media.licdn.com/dms/image/C4E03AQERbi3ilMhlZA/profile-displayphoto-shrink_800_800/0/1650007834660?e=1727308800&v=beta&t=cbrYcSnxgka40XfefzXr01t-VzUm7oHfcWRBAz3HwgE" alt="avatar"
    class="rounded-circle d-flex align-self-start mx-2 shadow-1-strong" width="30">
  <% end %>
  <div class="card mask-custom">
    <div class="card-mask-custom d-flex justify-content-between px-3 py-2"
      style="border-bottom: 1px solid rgba(255,255,255,.3);">
      <p class="fw-light fs-6 text-gray-300 mb-0 pe-4 text-capitalize">
        <%= message.user.nickname %>
        <%= button_to whisper_chatroom_user_path(message.chatroom, message.user), data: { turbo_method: :post } do %>
          <i class="fa-solid fa-message me-2"></i>
        <% end %>
      </p>
      <p class="text-gray-300 small mb-0 pt-0.5"><%= message.created_at.strftime("%l:%M %p") %></p>
    </div>
    <div class="card-body">
      <p class="mb-0 text-gray-300"><%= message.content %></p>
    </div>
  </div>
</li>
