<div class="d-inline-flex justify-content-center">
  <div class="row">
    <div class="col-sm-4">
      <div>
        <%= form_with url: chatroom_path(@chatroom), method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control bg-black text-white",
              placeholder: "Type a chatroom's name"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
      </div>
      <%= render 'rooms' %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h1><%= @chatroom.name %></h1>
        <h5><%= @chatroom.topic %></h5>
          <h6><%= @chatroom.language %> - <%=@chatroom.language_level %></h6>
        <%= link_to "Edit your room",  edit_chatroom_path(@chatroom)%>
      </div>
      <div>
        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
      <div>
        <%= form_with(model: [ @chatroom, @chatroom.messages.build ], local: false) do |form| %>
    <div class="form-outline form-white">
      <%= form.text_field :content, placeholder: "Write a message...", class: "flex-1 px-3 py-2 border border-gray-100 rounded-l focus:outline-none focus:ring-blue-200", id: "message_content" %>
      <%= form.submit 'Send', id: "send-btn", class: "h-14 l-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
      <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <h2><%= @chatroom.name %>'s Wall</h2>
      </div>
      <% @wall.posts.each do |post| %>
        <div>
          <p><%= post.content %></p>
        </div>
      <% end %>
      <%= simple_form_for [@chatroom, @wall, @post], html: {  } do |form| %>
        <div>
          <%= form.input :content, as: :text, input_html: {  }, wrapper_html: {  } %>
        </div>
        <%= form.button :submit, 'Post' %>
      <% end %>
    </div>
  </div>
</div>






<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
