<div class="form-create">
  <h1 class="text-3xl font-bold mb-6">Create your room</h1>

  <%= form_with(model: @chatroom, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :name, "Room name *", class: "block text-gray-700 text-white font-bold mb-2" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>
    <div class="mb-4">
      <%= form.label :password, "Password *", class: "block text-gray-700 text-white font-bold mb-2" %>
      <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: false %>
    </div>
    <div class="mb-4">
      <%= form.label :status, "Status", class: "block text-gray-700 text-white font-bold mb-2" %>
      <div class="flex items-start">
        <div class="flex items-center mr-6">
          <%= form.radio_button :status, "private", class: "mr-2 leading-tight" %>
          <%= form.label :status, "Private", class: "text-gray-700 text-white font-medium" %>
        </div>
        <div class="flex items-center">
          <%= form.radio_button :status, "public", class: "mr-2 leading-tight" %>
          <%= form.label :status, "Public", class: "text-gray-700 text-white font-medium" %>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <%= form.label :language, "Language", class: "block text-gray-700 text-white font-bold mb-2" %>
      <%= form.text_field :language, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>
    <div class="mb-4">
      <%= form.label :language_level, "Language Level", class: "block text-gray-700 text-white font-bold mb-2" %>
      <%= form.select :language_level, options_for_select(Chatroom::LANGUAGE_LEVEL), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>
    <div class="mb-4">
      <%= form.label :topic, "Topic", class: "block text-gray-700 text-white font-bold mb-2" %>
      <%= form.text_field :topic, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit 'Create', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
