<div class="chat-show">
  <div class="w-1/4 bg-black p-4">
    <div class="mb-4">
      <input type="text" placeholder="Search for a room" class="bg-black w-full px-3 py-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-200">
    </div>
    <%= render "allrooms" %>
  </div>

  <div class="flex-1 text-white flex flex-col">
    <div class="flex items-center justify-between p-4 bg-black">
      <h1 class="text-2xl font-bold"><%= @chatroom.name %></h1>
    </div>
    <div id="msg-container" class="flex-1 p-4 overflow-y-auto">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
        <% end %>
    </div>
    <div class="p-4 bg-black">
      <%= form_with(model: [ @chatroom, @chatroom.messages.build ], local: true) do |form| %>
        <div class="flex items-center">
          <%= form.text_area :content, placeholder: "Write a message...", class: "flex-1 px-3 py-2 border border-gray-100 rounded-l focus:outline-none  focus:ring-blue-200" %>
          <%= form.submit 'Send', id:"send-btn", class: "h-14 l-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="w-1/4 bg-black p-4 border-gray-200">
    <div class="mb-4">
      <button class="w-9/12 bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-5 rounded">View room info</button>
    </div>
    <div class="mb-4">
      <button class="w-9/12 bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded">View all members</button>
    </div>
    <div>
      <button class="w-9/12 bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 rounded">Delete</button>
    </div>
  </div>
</div>
