<section class="gradient-custom">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">
        <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>
        <div class="card mask-custom">
          <%= render 'rooms' %>
        </div>
      </div>

      <div class="col-md-6 col-lg-7 col-xl-7">
      <br>
      <div class="card mask-custom" id="chatroom-title-card">
        <div class="card-header d-flex justify-content-between" style="border-bottom: 1px solid rgba(255,255,255,.3);">
          <p class="fw-bold mb-0"><%= @chatroom.name %></p>
          <p class="text-light small mb-0"><%= @chatroom.topic %></p>
          <p class="text-light small mb-0"><%= @chatroom.language %></p>
        </div>
      </div>
      <br>
        <ul class="list-unstyled text-white">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
          <li class="mb-3">
            <div>
              <%= form_with(model: [ @chatroom, @chatroom.messages.build ], local: false) do |form| %>
                <div class="form-outline form-white">
                  <%= form.text_field :content, placeholder: "Write a message...", class: "flex-1 px-3 py-2 border border-gray-100 rounded-l focus:outline-none focus:ring-blue-200", id: "message_content" %>
                  <%= form.submit 'Send', class: "btn btn-light btn-lg btn-rounded float-end" %>
                </div>
              <% end %>
            </div>
            <%# <div data-mdb-input-init class="form-outline form-white">
              <textarea class="form-control" id="textAreaExample3" rows="4"></textarea>
              <label class="form-label" for="textAreaExample3">Message</label>
            </div>
          </li>
          <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg btn-rounded float-end">Send</button> %>
        </ul>

      </div>

    </div>

  </div>
</section>
