<section class="gradient-custom">

  <div class="container py-5 px-5">

      <div class="row d-flex justify-content-center">

        <div class="card mask-custom mb-5 user-card">

          <%= link_to chatroom_path(@chatroom), class: 'mt-2 p-3 rounded-circle bg-gray-200 bg-opacity-50 text-decoration-none text-white', style: 'width: 50px; height: 50px; margin-left: 5px; margin-bottom: 5px;' do %>
            <i class="fa-solid fa-arrow-left" style="margin-left: 1px; padding-bottom: 12px;"></i>
          <% end %>

          <h1 class="user-card-title text-center text-light mb-4">Your profile</h1>

          <div class="d-flex justify-content-between">

            <div class="col-5 ps-5 pt-3 pb-5 pe-3">
              <div class="flex-columns">
                <div class="me-3" style="text-align: center;">
                  <%= image_tag @user.photo, class:"rounded-circle shadow-1-strong", style:"margin: auto; width: 150px;"%>
                  <p class="text-light mt-3"><%= @user.nickname %></strong></p>
                  <p class="text-light bio-description"><%= @user.description %></p>
                  <br>
                  <%= link_to "Edit", edit_user_path(@user), class: 'button-small ms-3 me-1 mt-3 px-3 py-2' %>
                  <%= link_to "Delete", user_path(@user), class: 'button-small mt-3 ms-1 px-3 py-2 me-2', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              </div>
            </div>

            <div class="col-5 ps-3 pt-2 pb-5 pe-3" style="margin-right: 100px;">
              <div class="flex-columns">

                <div>
                  <p class="text-light" style="font-size: 20px;">Informations</p>
                  <hr class="text-light">
                </div>

                <div class="d-flex flex-start justify-content-between">
                  <div>
                    <p class="text-light fw-bold user-infos-label">Email</p>
                    <p class="text-light user-infos-text"><%= @user.email %></p>
                    <p class="text-light fw-bold user-infos-label ">Spoken languages</p>
                    <p class="text-light user-infos-text"><%= @user.spoken_language %></p>
                  </div>
                  <div>
                    <p class="text-light fw-bold user-infos-label">Password</p>
                    <p class="text-light user-infos-text">**********</p>
                    <p class="text-light fw-bold user-infos-label"><strong>Learning languages</strong></p>
                    <p class="text-light user-infos-text"><%= @user.learning_language %></p>
                  </div>
                </div>

                <br>
                <br>

                <div>
                  <p class="text-light" style="font-size: 20px;">Recent activity</p>
                  <hr class="text-light">
                </div>

                <div class="d-flex flex-start justify-content-between mb-3">
                  <div>
                    <p class="text-light fw-bold user-infos-label">Messages</p>
                    <div class="border-1 border-light rounded-5" style="width:150px;">
                      <p class="text-light m-1 ms-2 fw-bold user-infos-label"><%= @user.messages.last.chatroom.name %></p>
                      <hr class="text-light m-1">
                      <p class="text-light ms-2 user-infos-text"><%= @user.messages.last.content %></p>
                    </div>
                  </div>
                  <div>
                    <p class="text-light fw-bold user-infos-label">Posts</p>
                    <div class="border-1 border-light rounded-5" style="width:150px;">
                      <% if @user.posts.any? %>
                      <p class="text-light ms-2 user-infos-text pt-2"><%= @user.posts.last.content%></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            <div class="col-5 p-5">
            </div>


          </div>

        </div>

      </div>

  </div>

</section>
