<section class="gradient-custom" style="min-height:100vh;">
  <div class="d-flex justify-content-end pt-3" style="padding-right: 70px;">
    <%= button_to 'Log in', new_user_session_path, class:'button-big' %>
    <%= button_to 'Log out', destroy_user_session_path, class:'button-link-style', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
  </div>
  <div class="container" style="padding-top: 150px;">
    <div class="row">

      <div class="col-6">
        <div class="text-white flex items-center justify-center">
          <div class="" style="padding-right: 75px;">
            <h1 style="font-size: 60px;">Calypso</h1>
            <p class="" style="font-size: 17px; padding-left: 8px;">A new way to learn languages</p>
            <br>
            <br>
            <br>
            <div class="">
              <%= link_to 'Create', new_chatroom_path, class: 'button-medium', style:'margin-left: 20px; width: 60px;' %>
              <%= link_to 'Join', chatroom_path(Chatroom.first), class: 'button-medium', style:'margin-left: 50px; width: 60px;'%>
            </div>
          </div>
        </div>
      </div>

      <%# <div class="col-6"> %>
       <%# <%= cl_image_tag 'people-talk.png', style:'width: 200px;' %>
      <%# </div> %>
    </div>
  </div>
</section>
